<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Titulo</title>
         </head>
    <body>
          <div class="container p-4">
          	<div class="row">
          		<div class="col-md-4 offset-md-4"> 
          			<div class="card animated flipInY">
          				<div class="card-header bg-dark text-white text-center">
							<img src="/img/correo.png"  alt="loginuser" class="card-img-top mx-auto m-2 rounded-circle w-30">
          					<h3>Contáctanos</h3>
          				</div>
          				<div class="card-body text-left">
          					<form action="/enviar-correo" method="POST" autocomplete="off">
								<div class="form-group">
									<span>Nombre:</span>
          							<input  type="text" id="mayus" pattern="[A-Za-z]{3,100}" class="form-control" name="nombre" autofocus required >
									  
          						</div>
								<div class="form-group">
									<span>Teléfono:</span>
          							<input  type="text"   class="form-control" name="telefono" required >
									  
          						</div>  
          						<div class="form-group">
									<span>Correo Electrónico:</span>  
          							<input  type="email"  class="form-control" name="correo"  size="41" required>
									
          						</div>     
          						<div class="form-group">
									<span>Mensaje:</span>  
          							<textarea type="text" id="mayus" class="form-control" name="mens"  cols="30" rows="5" required></textarea>
									
          						</div>
          						<div class="form-group">          							
          							<button class="btn btn-primary btn-block">
                                       Enviar Mensaje
								   </button>								  									  
          						</div>								
          					</form>
          				</div>
          			</div>          			
          		</div>
          	</div>
          </div>	     
    </body>
</html>
