<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Titulo</title>
      
    </head>
    <body>
	    
          <div class="container p-4">
          	<div class="row">
          		<div class="col-md-4  offset-md-4">                       
          			<div class="card animated flipInY">                      
          				  <div class="card-header bg-dark text-white text-center">
          				    	<h3>Contáctanos</h3>
          				  </div>
          				  <div class="card-body">                              
                                <h5 class="card-title"><img src="/img/correo.png" width="60" height="100"> Solicitud Recibida</h5>
                                <p class="card-text text-justify">Inmediatamente estaremos dando respuesta a su requerimiento.</p> 
                                <p class="card-text text-justify">Nuestro horario de atención al servicio de solicitudes es desde las 8:00 am hasta las 4:00 pm</p> 
                                <p class="card-text">Redes Sociales:</p> 
                                <p class="card-text"><img src="/img/whatsapp.png" width="30" height="40"> +58-04129496983</p> 
                                <a href="/signup" class="btn btn-primary btn-block">Aceptar</a>                                 
          				  </div>
                      
          			</div>          			
          		</div>
          	</div>
          </div>	     
    </body>
</html>
