<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Titulo</title>
      
    </head>
    <body>
	    
          <div class="container p-4">
          	<div class="row">
          		<div class="col-md-4  offset-md-4">                       
          			<div class="card animated flipInY">                      
          				  <div class="card-header bg-dark text-white text-center">
								<img src="/img/correo.png" width="60" height="100">
          				    	<h3>Solicitud Recibida</h3>
          				  </div>
          				  <div class="card-body">                                                             
                                <p class="card-text text-justify">Inmediatamente estaremos dando respuesta a su requerimiento.</p> 
                                <p class="card-text text-justify">Nuestro horario de atención al servicio de solicitudes es desde las 8:00 am hasta las 4:00 pm</p> 
                                <p class="card-text">Redes Sociales:</p>                                 
								<a href="https://wa.me/+5804129496983/?text=Escribenos" target="_blank"><img src="/img/whatsapp.png " class="izq" height="40" width="30"></a>
								<aside>
									<p>
									(+58) 0412-9496983	
									</p>
								</aside>
								<a href="https://www.instagram.com/p/CZaSR3DLU2c/?utm_medium=copy_link" target="_blank"><img src="/img/instagram.png" class="izq" height="40" width="33"></a>
								<aside>
									<p>
									 PcSpeed.tech.pzo	
									</p>
								</aside>								
                                <a href="/" class="btn btn-primary btn-block">Aceptar</a>                                 
          				  </div>
                      
          			</div>          			
          		</div>
          	</div>
          </div>	     
    </body>
</html>
