<div class="container p-2 ">
    <div class="row">
        <div class="col-md-4 mx-auto">           
            <div class="card text-center">              
                <div class="card-body p-4" id="miprofile"> 
                    <div align="center"><img src="/img/userin.png" width="60" height="80"></div>                    
                    <h2>Bienvenid@</h2>                    
                    <h2>{{user.nombre}}</h2>
                    <h2>Usuario: {{user.usuario}}</h2>                    
                    <a href="./enlaces" class="btn btn-warning m-4 micardtit">Servicios Solicitados</a>
                </div>
            </div>
        </div>
    </div>
</div>