<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            
            <div class="card text-center animated flipInY">
                <div class="card-header bg-dark">
                    <img src="/img/logoreg.png"  alt="loginuser" class="card-img-top mx-auto m-2 rounded-circle w-25">
                    <h3>Registrate</h3>
                </div>
                <div class="card-body text-left">                    
                    <form action="/signupadm" method="POST" autocomplete="off">
                      <div class="form-group">
                          <span>Nombre:</span>
                          <input type="text" id="mayus" name="nombre"  class="form-control" autofocus required>
                      </div>
                      <div class="form-group">
                          <span>Usuario:</span>
                          <input type="text"  id="mayus" name="usuario"  class="form-control" required>
                      </div>
                      <div class="form-group">
                          <span>Clave:</span>
                          <input type="password" name="clave"  class="form-control" required>
                      </div>
                      <div class="form-group">
                          <span>Dirección:</span>
                          <input type="text"  id="mayus" name="direccion"  class="form-control" required>
                      </div>
                      <div class="form-group">
                          <span>Teléfono:</span>
                          <input type="text" name="telef"  class="form-control" required>
                      </div>
                      <div class="form-group">
                          <span>Correo Electrónico:</span>
                          <input type="email" name="correo"  class="form-control" required>
                      </div>
                      {{#ifCond user.tipo '==' "Cliente"}}
                       <div class="form-group">              
                          <input type="text" name="tipo"  value="Cliente" class="form-control" hidden="true" readonly="readonly">
                      </div>
                      {{/ifCond}}
					  {{#ifCond user.tipo '==' "Administrador"}}
                        <div class="form-group">              
                          <input type="text" name="tipo"  value="Administrador" class="form-control" hidden="true" readonly="readonly">
                        </div>     
                      {{/ifCond}}
                      {{#ifCond user.tipo '==' NULL}}
                       <div class="form-group">              
                          <input type="text" name="tipo"  value="Cliente" class="form-control" hidden="true" readonly="readonly">
                      </div>
                      {{/ifCond}}

                      <div class="form-group">
                          <button class="btn btn-primary btn-block">                              
                            Registrar
                          </button>
                      </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>