<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand">
		  <img src="/img/logopcspeed.png" width="280" height="190" alt="">	  			 
         
		</a>		 		
			
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="mibtnav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse"  id="navbarNav">
 		<ul class="navbar-nav ml-auto">
		        <li class="nav-item">
				   <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>				  
 			    </li>							
				{{#if user}}                  
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-folder-plus"></i> Solicitudes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						 <a class="dropdown-item" href="/enlaces">Todas</a>
						 <div class="dropdown-divider"></div>
						 <a class="dropdown-item" href="/enlaces/add">Nueva</a>					 	
						 <div class="dropdown-divider"></div>
						 <a class="dropdown-item" href="/enlaces/buscars">Buscar</a>					 	
						</div> 
				    </li>					
					<li class="nav-item">						
                      {{#ifCond user.tipo '==' "Cliente"}} 						 				  
						<a href="/profile" class="nav-link"><i class="fas fa-user"></i> Perfil</a>
                      {{/ifCond}}
					  {{#ifCond user.tipo '==' "Administrador"}} 
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
						  	 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						     <i class="fas fa-folder-plus"></i> Administrador
						  </a>
						  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						    <a class="dropdown-item" href="/profile">Perfil</a>
						  <div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="/signupadm">Nuevo Admin</a>
					 	  </div>
				    	</li>					    
					  {{/ifCond}}	
					</li>
					  {{#ifCond user.tipo '==' "Administrador"}} 
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-folder-plus"></i>Ajustes
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/enlaces/actualprecios">Precios</a>						  
							</li>					    
					  {{/ifCond}}	
					<li class="nav-item">
						<a href="/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
					</li>
					
	                
				{{else}}
					<li class="nav-item">
						<a href="/signin" class="nav-link"><i class="fas fa-sign-in-alt" style="color:green" id="mii"></i> Abrir Sesión</a>
					</li>
					<li class="nav-item">
						<a href="/signup" class="nav-link"><i class="fas fa-address-book"></i> Registrate</a>
					</li>
			    {{/if}}
				
				    <li class="nav-item">					
				        <li class="nav-item dropdown">
						  	<a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
						   	   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						     <i class="fas fa-folder-plus"></i> Servicios
						  	</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/enlaces/precios">Ofrecemos</a>
							</div>		    
				    	</li>				    
				    <li class="nav-item">
					   <a class="nav-link" href="/contactos"><i class="fas fa-envelope"></i> Contacto</a>
 				    </li>			
			</ul>
		</div>
	</div>
</nav>