<footer> 
  <br>
  <div class="container">
      <div class="row">
          <hr class="mihr"> 
          <div class="col">            
              <h6>Dirección:</h6>              
                <h6>
                  PcSpeed<br><br>                  
                  Apartado postal<br><br>
                  8050 Venezuela<br><br>
                </h6><br>         
          </div>
          <div class="col">           
                <h6>Redes Sociales:</h6>               
                <div class="redsocial">                                        
                        <a href="https://wa.me/+5804129496983/?text=Escribenos" target="_blank"><img src="/img/whatsapp.png " class="izq" height="18%" width="18%"></a>                        
                        <aside>
                         <p><h6>(+58) 0412-9496983</h6></p>
                        </aside> 
                        <br>
                        <br>    
                        <a href="https://www.instagram.com/p/CZaSR3DLU2c/?utm_medium=copy_link" target="_blank"><img src="/img/instagram.png" class="izq" height="18%" width="18%"></a>
                        <aside>
                          <h6>Instagram PcSpeed.tech.pzo</h6>
                        </aside> 
                                                                                                         
                </div>            
          </div>
          <div class="col">              
                <h6>Productos y servicios relacionados:</h6>                
                  <div class="prodyserv">
                    <a href=""><img src=""></a>
                    <a href=""><img src=""></a>
                    <a href=""><img src=""></a>
                  </div>                           
          </div>
    </div>  
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12"> 
			      <p class="text-left"><h6>© 2022 Copyright: Desarrollado por PcSpeed</h6></p>
        </div>
      </div> 
  </div> 
</footer>


