<footer> 
  <br>
  <div class="container">
      <div class="row">
          <hr class="mihr"> 
          <div class="col">            
              <h6>Dirección:</h6>              
                <h6>
                  Los Olivos calle palermo<br><br>
                  Puerto Ordaz Estado Bolívar<br><br>
                  Apartado postal 8050 Venezuela<br><br>
                </h6><br>         
          </div>
          <div class="col">           
                <h6>Redes Sociales:</h6>               
                <div class="redsocial">                                        
                        <a href="https://wa.me/+5804129496983/?text=Escribenos" target="_blank"><img src="/img/whatsapp.png " class="izq" height="25%" width="25%"></a>                        
                        <aside>
                          <h6>(0412)-949-69-83</h6>
                        </aside><br>
                        <a href="https://www.instagram.com/p/CZaSR3DLU2c/?utm_medium=copy_link" target="_blank"><img src="/img/instagram.png" class="izq" height="26%" width="26%"></a>
                        <aside>
                          <h6>Instagram</h6>
                        </aside>                                                                                 
                </div>            
          </div>
          <div class="col">              
                <h6>Productos y servicios relacionados:</h6>                
                  <div class="prodyserv">
                    <a href=""><img src=""></a>
                    <a href=""><img src=""></a>
                    <a href=""><img src=""></a>
                  </div>                           
          </div>
    </div>  
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12"> 
			      <p class="text-left">© 2020 Copyright: Desarrollado por AsisPC</p>
        </div>
      </div> 
  </div> 
</footer>


