<div class="container p-4">
     <div class="row">        
         <div class="col-md-4 mx-auto">             
                    <div class="card-header bg-dark text-center">
                            <img src="/img/logoreg.png"  class="card-img-top mx-auto m-2 rounded-circle w-25">
                            <h3>Nueva Solicitud</h3>
                    </div>
                    <div class="card-body bg-light text-left">
                        <form action="/enlaces/add" method="POST" autocomplete="off">
                            <div class="form-group">
                                <span>Titulo:</span>
                                <input type="text" id="mayus" class="form-control" name="title"  autofocus>                        
                            </div>
                            <div class="form-group">                        
                                <input type="text" class="form-control" name="edo" placeholder="Pendiente" value="p" hidden="true" readonly="readonly">                        
                            </div>
                            <div class="form-group">
                                <span>Descripción:</span>
                                <textarea name="descrip" id="mayus" rows="5" class="form-control"></textarea>                       
                            </div>  
                            
                            <div class="form-group">
                               <span>Fecha y Hora:</span>
                                <div class="input-group date">
                                    <input type="datetime-local" class="form-control"  name="creado" required>                                    
                                </div>
                            </div>       
                            <div class="form-group">                                
                                <button class="btn btn-primary btn-block">
                                Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>     
    </div> 
</div>
 