<div class="container p-4">
     <div class="row">
         
         <div class="col-md-4m mx-auto">
             <div class="card-body">
                <form action="/enlaces/edit/{{link.id}}" method="POST">
                    <div class="form-group">
                        <input type="text" value="{{link.title}}" class="form-control" name="title" placeholder="Título" autofocus>                        
                    </div>
                    <div class="form-group">   
                          <input {{#ifCond user.tipo '==' "I"}} type="hidden" {{/ifCond}} {{#ifCond user.tipo '==' "A"}} type="text" pattern="p|r" {{/ifCond}} value="{{link.edo}}" class="form-control" name="edo" placeholder="Edo. p:pendiente r:solucionado" required>                          
                    </div>
                    <div class="form-group">
                        <textarea name="descrip" rows="11" class="form-control" placeholder="Descripción">{{link.descrip}}</textarea>                       
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">
                           Enviar
                        </button>
                    </div>
                </form>
                </div>
             </div>
         </div>
     </div>  
</div>