<div class="container p-4">
     <div class="row">
         
         <div class="col-md-4m mx-auto">
             <div class="card-body">
                <form action="/enlaces/edit/{{link.id}}" method="POST">
                    <div class="form-group">
                        <span>Titulo:</span>
                        <input type="text" value="{{link.title}}" class="form-control" name="title" autofocus>                        
                    </div>
                    <div class="form-group">                             
                        {{#ifCond user.tipo '==' "Cliente"}}                        
                            <input  type="hidden" class="form-control" name="edo">
                        {{/ifCond}} 
                        {{#ifCond user.tipo '==' "Administrador"}} 
                            <span>Estado:</span>
                            <input  type="text" pattern="p|e|r" value="{{link.edo}}" class="form-control" name="edo" required> 
                        {{/ifCond}}                         
                    </div>
                    <div class="form-group">
                        <textarea name="descrip" rows="11" class="form-control" placeholder="Descripción">{{link.descrip}}</textarea>                       
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">
                           Enviar
                        </button>
                    </div>
                </form>
                </div>
             </div>
         </div>
     </div>  
</div>